= form_for [:admin, page] do |f|
  - if page.errors.any?
    #error_explanation
      h2
        = pluralize(page.errors.count, 'error')
        | prohibited this page from being saved:
      ul
        - page.errors.full_messages.each do |message|
          li = message

  h2.editable data-target='page[title]' data-paragraph=false
  #blocks
    = f.fields_for :blocks do |block|
      = render 'block_fields', f: block
    .links
      = link_to_add_association 'add block', f, :blocks

  .field
    = f.label :title, class: 'editable'
    = f.hidden_field :title
  .actions
    = f.submit
